@font-face {
    font-family: "handwriting";
    src: url("Fonts/journal-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
:root{
    --color-x:rgb(250, 93, 93);
    --color-o:mediumspringgreen;
    --color-dark:#991b1b;
    --color-light:#fca5a5;
}


html,body{
    height: 100vh;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}


main{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: var(--color-light);
    padding: 50px;
    border-radius: 25px;
    width: 400px;

    
}

main>.title{
    background-color: var(--color-dark);
    width: 100%;
    display: flex;
    justify-content: center;
    color:var(--color-light);
}

main .names{
    display: flex;
    gap: 25px;
    align-items: center;
    color: var(--color-dark);
    font-size: 20px;
}

main .names input{
    border-style: none;
    background-color: #e98686;
    font-size: 20px;
    width: 150px;
    border-radius: 5px;
    color: var(--color-dark);
}


.container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}

.container>button{
    padding: 0px;
    font-family: "handwriting";
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.x{
    color: var(--color-x);
    background-color: var(--color-o);
}

.o{
    color: var(--color-o);
    background-color: var(--color-x);
}

main .new{
    width: 200px;
    height: 75px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-style: none;
}

main .display{
    height: 100px;
    font-family: "handwriting";
    font-size: 100px;
}